.categories {
  list-style-type: none;
  margin: 0 0 2rem;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.categories__item {
  width: calc((100% - 2rem) / 3);
  border: 1px solid #ddd;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.categories__item:nth-child(1n+3) {
  margin-right: 0;
}

.categories__item a {
  display: block;
  padding: .5rem;
  text-decoration: none;
  text-align: center;
}

.categories__item a:hover {
  color: #fff;
  background-color: #032336;
}