.votescore {
  font-size: 1rem;
  line-height: 1;
  width: 6rem;
  display: flex;
  justify-content: space-between;
}

.votescore > * {
  align-self: center;
}

.votescore__edit {
  background-color: transparent;
  border-color: #333;
  border-width: 0;
  padding: 0 .5rem;
  color: #032336;
  cursor: pointer;
}

.votescore__edit:hover {
  background-color: #6f8fa2;
  color: #fff;
}

.votescore__edit--down {
  border-right-width: 1px;
}

.votescore__edit--up {
  border-left-width: 1px;
}
