* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 1rem;
  font-family: sans-serif;
}

.app {
  max-width: 50rem;
  margin: 2.5rem auto 0;
}

a {
  color: #032336;
}

a:hover {
  text-decoration: none;
}

.cta-btn {
  background-color: #0b0;
  color: #fff;
  font-size: 1.2rem;
  line-height: 1;
  padding: 0.5rem 0.7rem;
  border-width: 0;
  margin: 0 0 1rem;
  cursor: pointer;
}

.cta-btn:hover {
  background-color: #0a0;
}

.cta-btn--cancel {
  background-color: #bbb;
}

.cta-btn--cancel:hover {
  background-color: #aaa;
}