* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 1rem;
  font-family: sans-serif;
}

a {
  color: #032336;
}

a:hover {
	text-decoration: none;
}

.app {
  max-width: 50rem;
  margin: 0 auto;
}